@import url(src\styles\global.css);

.button-text {
    background: none;
    width: 100%;
    padding: 1rem 2rem;
    border: none;
    color: var(--light100);
    font-family: 'Poppins', 'sans-serif';
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}